@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animate-marquee{
    animation: marquee 25s linear infinite;
}

@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}





/* For Nav to go to the exact section in a single landing page */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Adjust this value based on your header height */
}


.testimoniaL-swiper{
    padding: 20px 0;
}

.testimoniaL-swiper .swiper-slide{
    height: auto;
}

/* hide default swiper button navigation */
.swiper-button-next-custom
.swiper-button-prev-custom {
    display: none;
}

.swiper-slide-next, .swiper-slide-prev {
    display:none;
}

.swiper-button-next-custom .swiper-button-disabled,
.swiper-button-prev-custom .swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed
}


.clip-path-slant{
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%)
}



.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #06a055;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
    background: #ffffff;
  display: inline-block;
 
  
 
  position: relative;
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #06a055 !important;
  border: 1px solid #06a055 !important;
  color: #fff !important;
  border-radius: 5px;
  outline:none;
}







.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
